[*.cs]

dotnet_diagnostic.CA1051.severity = error
dotnet_diagnostic.CA1305.severity = error
dotnet_diagnostic.CA1310.severity = error
dotnet_diagnostic.CA1717.severity = error
dotnet_diagnostic.CA2007.severity = error
dotnet_diagnostic.CA2211.severity = error

dotnet_diagnostic.CA1720.severity = suggestion

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = error

# CA1062: In externally visible method 'SeriesCollection.SeriesCollection(IEnumerable<OpenXmlElement> sdkCharts, ChartPart sdkChartPart)', validate parameter 'sdkCharts' is non-null before using it. If appropriate, throw an ArgumentNullException when the argument is null or add a Code Contract precondition asserting non-null argument.
dotnet_diagnostic.CA1062.severity = none

dotnet_diagnostic.IDE0003.severity = none

dotnet_diagnostic.SA1611.severity = none

# SA1124DoNotUseRegions
dotnet_diagnostic.SA1124.severity = none

# SA1200UsingDirectivesMustBePlacedCorrectly
dotnet_diagnostic.SA1200.severity = none

# SA1615ElementReturnValueMustBeDocumented
dotnet_diagnostic.SA1615.severity = none

# SA1413UseTrailingCommasInMultiLineInitializers
dotnet_diagnostic.SA1413.severity = none

# SA1633FileMustHaveHeader
dotnet_diagnostic.SA1633.severity = none

# A property should not follow a method
dotnet_diagnostic.SA1201.severity = error

# CurlyBracketsMustNotBeOmitted
dotnet_diagnostic.SA1503.severity = error

dotnet_diagnostic.SA1005.severity = error
dotnet_diagnostic.SA1600.severity = error
dotnet_diagnostic.SA1202.severity = error
dotnet_diagnostic.SA1300.severity = error
dotnet_diagnostic.SA1101.severity = error
dotnet_diagnostic.SA1000.severity = error
dotnet_diagnostic.SA1623.severity = error
dotnet_diagnostic.SA1602.severity = error
dotnet_diagnostic.SA1513.severity = error



