src/pptxxml/.vs
src/pptxxml/bin
src/pptxxml/obj

test/pptxxml.tests/obj
test/pptxxml.tests/bin

src/pptxXML.examples/bin
src/pptxXML.examples/obj

.vs/


PptxXML.Examples/bin/Debug/netcoreapp3.1/

PptxXML.Examples/obj/Debug/netcoreapp3.1/

PptxXML.Examples/obj/
