# Auto detect text files and perform CRLF normalization
* text=auto eol=crlf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.config text eol=crlf
*.json text eol=crlf
*.xml text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.pptx binary
*.zip binary


