<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="ShapeCrawler" value="https://nuget.pkg.github.com/ShapeCrawler/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <shape>
            <add key="Username" value="ShapeCrawler" />
            <add key="ClearTextPassword" value="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" />
        </shape>
    </packageSourceCredentials>
</configuration>