<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="ShapeCrawler" value="https://nuget.pkg.github.com/ShapeCrawler/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <shape>
            <add key="Username" value="ShapeCrawler" />
            <add key="ClearTextPassword" value="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" />
        </shape>
    </packageSourceCredentials>
</configuration>