<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="shape" value="https://nuget.pkg.github.com/ShapeCrawler/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <shape>
            <add key="Username" value="ShapeCrawler" />
            <add key="ClearTextPassword" value="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" />
        </shape>
    </packageSourceCredentials>
</configuration>