[*.cs]

# Roslyn

# Roslyn - Code style
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0044.severity = error
dotnet_diagnostic.IDE0005.severity = error

# Roslyn - Code quality
dotnet_diagnostic.CS0108.severity = error
dotnet_diagnostic.CS0114.severity = error
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1051.severity = error
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1310.severity = error
dotnet_diagnostic.CA1717.severity = error
dotnet_diagnostic.CA2007.severity = error
dotnet_diagnostic.CA2211.severity = error
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CS8600.severity = error
dotnet_diagnostic.CS8601.severity = error
dotnet_diagnostic.CS8613.severity = error
dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic.CS8625.severity = error

# Stylecop
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1009.severity = error
dotnet_diagnostic.SA1028.severity = none
dotnet_diagnostic.SA1116.severity = error
dotnet_diagnostic.SA1117.severity = error
dotnet_diagnostic.SA1122.severity = error
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1214.severity = error
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1201.severity = error
dotnet_diagnostic.SA1003.severity = error
dotnet_diagnostic.SA1005.severity = error
dotnet_diagnostic.SA1101.severity = error
dotnet_diagnostic.SA1202.severity = error
dotnet_diagnostic.SA1204.severity = error
dotnet_diagnostic.SA1300.severity = error
dotnet_diagnostic.SA1306.severity = error
dotnet_diagnostic.SA1309.severity = error
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1503.severity = error
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1513.severity = error
dotnet_diagnostic.SA1516.severity = error
dotnet_diagnostic.SA1600.severity = error
dotnet_diagnostic.SA1602.severity = error
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1618.severity = error
dotnet_diagnostic.SA1623.severity = error
dotnet_diagnostic.SA1629.severity = error
dotnet_diagnostic.SA1633.severity = none

# CSXXXX
dotnet_diagnostic.CS0649.severity = error
dotnet_diagnostic.CS8602.severity = error
dotnet_diagnostic.CS8603.severity = error
dotnet_diagnostic.CS8604.severity = error
dotnet_diagnostic.CS8619.severity = error
dotnet_diagnostic.CS8621.severity = error
dotnet_diagnostic.CS8764.severity = error
dotnet_diagnostic.CS8766.severity = suggestion
dotnet_diagnostic.CS8767.severity = error