name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: Publish
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Create package
        run: dotnet pack ./src/ShapeCrawler.csproj --configuration Release /p:Version=${{ vars.VERSION }}
      - name: Publish package
        run: dotnet nuget push -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json "src\bin\Release\*.nupkg"